html {
  background-color: black;
}

div {
  width: 515px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  margin: auto;
}

#title {
  color: black;
  font-size: 85px;
  font-family: papyrus;
  font-weight: bold;
}

a {
  font-size: 35px;
  text-decoration: none;
  color: grey;
  font-family: fantasy;
  margin-left: 90%;
}

a:hover {
  font-weight: bold;
  color: #00fff6;
  text-decoration: none;
}

#line {
  width: 100%;
  height: 3px;
  color: silver;
  margin-top: 50px;
}

#head {
  color: white;
  text-decoration: underline;
  font-family: cursive;
  font-size: 45px;
  text-align: left;
  margin-left: 30px;
}

p {
  color: lightgrey;
  font-size: 25px;
}

.spirits {
  margin: auto;
  width: 75%;
  height: 375px;
  margin-left: 12%;
}
